{% extends 'base.html.twig' %}

{% block title 'Araba market | marché'%}

{% block body %}
	<!--shop  area start-->
	<div class="mt-5 shop_section shop_reverse">
		<div class="container">
			<div class="row">
				<div
					class="col-lg-3 col-md-12">
					<!--sidebar widget start-->
					<aside class="sidebar_widget">
						<div class="widget_inner">
							<div class="widget_list widget_categories">
								<h2>Categories</h2>
								<ul>
									{% for categorie in categories %}
										<li class="widget_sub_categories">
											<a href="javascript:void(0)" data-toggle="collapse" data-target="#cat{{categorie.id}}">{{categorie.libelle}}
											</a>
											<ul class="widget_dropdown_categories collapse {% if loop.index==1 %} show {% endif %}" id="cat{{categorie.id}}">
												{% for souscategorie in categorie.sousCategories %}
													<li>
														<a href="{{path('app_buy',{'slug':souscategorie.slug})}}">
															{{souscategorie.libelle}}
															<span>{{souscategorie.annonces|length}}</span>
														</a>
													</li>
												{% endfor %}
											</ul>
										</li>
									{% endfor %}
								</ul>
							</div>
							<div class="widget_list widget_filter">
								<h2>Filtrer par</h2>
								<div class="filter__list slider_range">
									<h3>prix</h3>
								</div>
								<div class="filter__list widget_brands">
									<h3 data-toggle="collapse" data-target="#brands">brands</h3>
									<ul class="widget_dropdown_categories collapse show" id="brands">
										<li>
											<a href="#">
												The North Face
												<span>104</span>
											</a>
										</li>
										<li>
											<a href="#">Zara Basic
												<span>68</span>
											</a>
										</li>
										<li>
											<a href="#">Moschino
												<span>75</span>
											</a>
										</li>
										<li>
											<a href="#">Supreme
												<span>30</span>
											</a>
										</li>
										<li>
											<a href="#">Ecko Unltd
												<span>150</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="widget_list">
								<h4>Récemment visitée(s)</h4>
								<div class="recent_product">
									<div class="recent_product_list d-flex mb-25">
										<div class="recent_thumb">
											<a href="#"><img src="{{asset('assets/img/product/product4.jpg')}}" alt=""></a>
										</div>
										<div class="recent_content">
											<h4>
												<a href="product-details.html">Barbour T-shirt
													<br>
													International</a>
											</h4>
											<span>$32.00</span>
										</div>
									</div>
									<div class="recent_product_list d-flex">
										<div class="recent_thumb">
											<a href="product-details.html"><img src="{{asset('assets/img/product/product6.jpg')}}" alt=""></a>
										</div>
										<div class="recent_content">
											<h4>
												<a href="product-details.html">Barbour T-shirt
													<br>
													International</a>
											</h4>
											<span>$32.00</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</aside>
					<!--sidebar widget end-->
				</div>
				<div class="col-lg-9 col-md-12">
					<!--shop wrapper start-->

					<!--breadcrumbs area start-->
						<div class="breadcrumb_content"> <ul>
							<li>
								<a href="index.html">Acceuil</a>
							</li>
							<li>Acheter</li>
						</ul>
					</div>
					<!--breadcrumbs area end-->

					<div class="shop_banner d-flex align-items-center" data-bgimg="{{asset('assets/img/bg/shop_bg.jpg')}}">
						<div class="shop_banner_text">
							<h2>Ne cherchez
								<br>
								plus</h2>
							<p>Araba market
								<br>
								Le marché de chez nous</p>
						</div>
					</div>
					{% if tops %}
						<!--top annonce start-->
						<section class="product_area related_products mb-3">
							<div class="container">
								<div class="row">
									<div class="col-12">
										<div class="section_title mb-50">
											<h2>Les Top annonces</h2>
										</div>
									</div>
								</div>
								<div class="product_container row">
									<div class="product_slick slick_slider_activation" data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "arrows": true, "dots": false,  "autoplay": false, "speed": 300, "infinite": true, "responsive":[ {"breakpoint":992, "settings": { "slidesToShow": 3 } }, {"breakpoint":768, "settings": { "slidesToShow": 2 } }, {"breakpoint":300, "settings": { "slidesToShow": 1 } }  ]}'>
										{% for annonce in tops %}
											<article class="col single_product">
												<figure>
													<div class="product_thumb {% if annonce.isCime %} border border-danger{% endif %}">
														<a href="{{path('app_details',{'slug':annonce.slug})}}">
															<img class="primary_img" src="{{asset(annonce.imageAnnonces[0].imageName)}}" alt="consectetur">
														</a>
														<div class="product_action">
															<ul>
																{% if annonce.isPro %}
																	<li class="wishlist">
																		<a class='text-danger' data-tippy="Pro" data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="left">
																			<i class="fa-solid fa-store"></i>
																		</a>
																	</li>
																{% endif %}
																<li class="quick_view">
																	<a data-tippy="Whatsapp" href="https://api.whatsapp.com/send?phone={{annonce.user.infoPerso.whatsapp}}&text=Je suis intéressé par votre annonce {{annonce.libelleAnnonce}} du {{annonce.createdAt|date('d-m-y')}} sur le site Araba market" data-tippy-placement="left">

																		<i class="fa fa-whatsapp"></i>
																	</a>
																</li>
																<li class="compare">
																	<a class="js-like" data-tippy="Favoris" href="{{path('app_favoris',{'slug':annonce.slug})}}" data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="left">
																	{% if app.user and annonce.isLikedByUser(app.user) %}
																		<i class="fa fa-heart"></i>
																	{% else %}
																		<i class="icon-heart icons"></i>
																	{% endif %}
																	</a>
																</li>
															</ul>
														</div>
														<div class="product_label">
															{% if annonce.isCime %}
																<span>
																	<i class="fa-solid fa-turn-up"></i>
																</span>
															{% endif %}
														</div>
													</div>
													<figcaption class="product_content text-center">
														<h4 class="product_name">
															<a href="{{path('app_details',{'slug':annonce.slug})}}">{{annonce.libelleAnnonce}}</a>
														</h4>
														<div class="price_box">
															<span class="current_price">{{annonce.prix}}</span>
															<span class="">CFA</span>
														</div>
														<div class="add_to_cart">
															<a class="btn btn-danger" href="#" data-tippy="{{annonce.user.infoPerso.telephone}}" data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="top">Contactez</a>
														</div>
													</figcaption>
												</figure>
											</article>
										{% endfor %}
									</div>
								</div>
							</div>
						</section>
						<!--product area end-->
					{% endif %}


					<!--shop toolbar start-->
					<div class="shop_toolbar_wrapper d-flex justify-content-between align-items-center">
						<div class="page_amount">
							<p>
								<span>{{annonces|length}}</span>
								Annonces touvées</p>
						</div>
						<div class=" sorting_by d-flex align-items-center">
							<span>SORT BY :</span>
							<form class="select_option" action="#">
								<select name="orderby" id="short">
									<option selected value="1">NAME 3</option>
									<option value="2">NAME  4</option>
									<option value="3">NAME  5</option>
									<option value="4">NAME  6</option>
									<option value="5">NAME  7</option>
									<option value="6">NAME  8</option>
								</select>
							</form>
						</div>
						<div class="toolbar_btn_wrapper d-flex align-items-center">
							<div class="view_btn">
								<a class="view" href="#">VU</a>
							</div>
							<div class="shop_toolbar_btn">
								<ul class="d-flex align-items-center">
									<li>
										<a href="#" class="active btn-grid-4" data-role="grid_4" data-tippy="4" data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="top">
											<i class="ion-grid"></i>
										</a>
									</li>

									<li>
										<a href="#" class="btn-list" data-role="grid_list" data-tippy="List" data-tippy-inertia="false" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="top">
											<i class="ion-navicon"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!--shop toolbar end-->
					<div class="row shop_wrapper">
						{% for annonce in annonces %}
							<div class="col-lg-3 col-md-4 col-sm-6 col-6">
								<div class="single_product">
									<div class="product_thumb {% if annonce.isCime %} border border-danger{% endif %}">
										<a href="{{path('app_details',{'slug':annonce.slug})}}">
											<img class="primary_img" src="{{asset(annonce.imageAnnonces[0].imageName)}}" alt="consectetur">
										</a>
										<div class="product_action">
											<ul>
												{% if annonce.isPro %}
													<li class="wishlist">
														<a href="#" data-tippy="Pro" class="text-white" style="background:#ff2f2f;" data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="left">
															<i class="fa-solid fa-store"></i>
														</a>
													</li>
												{% endif %}
												<li class="compare">
													<a class="js-like" data-tippy="Favoris" href="{{path('app_favoris',{'slug':annonce.slug})}}" data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="left">
													{% if app.user and annonce.isLikedByUser(app.user) %}
															<i class="fa fa-heart"></i>
														{% else %}
															<i class="icon-heart icons"></i>
													{% endif %}
													</a>
												</li>
											</ul>
										</div>
										{% if annonce.isCime %}
											<div class="product_label">
												<span>
													<i class="fa-solid fa-turn-up"></i>
												</span>
											</div>
										{% endif %}
									</div>
									<div class="product_content grid_content text-center">
										<h4 class="product_name">
											<a href="{{path('app_details',{'slug':annonce.slug})}}">{{annonce.libelleAnnonce}}</a>
										</h4>
										<div class="price_box">
											<span class="current_price">{{annonce.prix}}</span>
											<span class="">CFA</span>
											{% if annonce.adresseAnnonce %}
												<p>
													<i class="fa-solid fa-location-pin"></i>
													{{annonce.adresseAnnonce.pays}},
													{{annonce.adresseAnnonce.ville}},
													{{annonce.adresseAnnonce.details}}
												</p>
											{% endif %}
										</div>
										<div class="add_to_cart">
											<a class="btn btn-danger" data-toggle="modal" data-target="#modal_box{{annonce.id}}" href="#" data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="left">Contactez</a>
										</div>
									</div>
									<div class="product_list_content">
										<h4 class="product_name">
											<a href="{{path('app_details',{'slug':annonce.slug})}}">{{annonce.libelleAnnonce}}</a>
										</h4>
										<div class="price_box">
											<span class="current_price">{{annonce.prix}}</span>
											<span class="">CFA</span>
										</div>
										<div class="product_desc">
											<p>
												{{annonce.description}}
											</p>
											{% if annonce.adresseAnnonce %}
												<h5>
													<i class="fa-solid fa-location-pin"></i>
													{{annonce.adresseAnnonce.pays}},
													{{annonce.adresseAnnonce.ville}},
													{{annonce.adresseAnnonce.details}}
												</h5>
											{% endif %}
										</div>
										<div class="add_to_cart">
											<a class="btn btn-danger" href="#" data-tippy="Add To Cart" data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="top">Contactez</a>
										</div>
									</div>
								</div>
							</div>
							{#Component for modal#}
							{{ component('modal', { annonce: annonce }) }}
							{#end of Component for modal#}
						{% endfor %}
					</div>
					<div class="pagination_style pagination justify-content-center">
						<ul class="d-flex">
							<li>
								<a href="#"></a>
							</li>
							<li>
								<a href="#">1</a>
							</li>
							<li>
								<a class="current" href="#">2</a>
							</li>
							<li>
								<a href="#">3</a>
							</li>
							<li>
								<a href="#">4</a>
							</li>
							<li>
								<a href="#">5</a>
							</li>
							<li>
								<a href="#">>></a>
							</li>
						</ul>
					</div>

					<div class="d-flex justify-content-center mt-5">
						{% do annonces.setPageRange(2) %}
						{{knp_pagination_render(annonces,'/layouts/partials/_pagination.html.twig')}}

					</div>


					<!--shop toolbar end-->
					<!--shop wrapper end-->
				</div>
			</div>
		</div>
	</div>
	<!--shop  area end-->

	

	{% block javascripts %}
		<script src="{{asset('assets/js/vendor/jquery-3.4.1.min.js')}}"></script>
		<script src="{{asset('assets/js/vendor/popper.js')}}"></script>
		<script src="{{asset('assets/js/vendor/bootstrap.min.js')}}"></script>
		<script src="{{asset('assets/js/slick.min.js')}}"></script>
		<script src="{{asset('assets/js/wow.min.js')}}"></script>
		<script src="{{asset('assets/js/jquery.scrollup.min.js')}}"></script>
		<script src="{{asset('assets/js/images-loaded.min.js')}}"></script>
		<script src="{#{asset('assets/js/isotope.pkgd.min.js')}#}"></script>
		<script src="{{asset('assets/js/jquery.nice-select.js')}}"></script>
		<script src="{{asset('assets/js/tippy-bundle.umd.js')}}"></script>
		<script src="{{asset('assets/js/jquery-ui.min.js')}}"></script>
		<script src="{{asset('assets/js/jquery.magnific-popup.min.js')}}"></script>
		<script src="{{asset('assets/js/main.js')}}"></script>
		<script src="{{asset('assets/js/like/axios.js')}}"></script>
		<script src="{{asset('assets/js/like/like.js')}}"></script>
		<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

	{% endblock %}
{% endblock %}
