{% extends 'base.html.twig' %}

{% block title 'Araba market | Annonce détails'%}


{% block body %}
	<div class="mt-2 shop_section">

		<div class="col-8 mx-auto">
			
			<div class="container mb-2">
				<div class="row">
					<strong class="text-info">Nom user: {{annonce.user.getFullName}} or Pro</strong>
					</class>
					<div class="col-md-4">
						<div class="imgAbt">
							<img src="{{ (annonce.user.imageName ? vich_uploader_asset(annonce.user) : asset('images/bg-8.jpg'))|imagine_filter('squared_thumbnail_user') }}">
						</div>
					</div>
					<div class="col-md-6">
						<h5 class="card-text">Nombre d'annonces 23</h5>
							<p class="card-text">
								<small class="text-muted">Membre
									{{annonce.user.createdAt|ago(locale='fr')}}
								</small>
							</p>
					</div>
					<div class="col-md-2">
						{% if annonce.isPro %}
							<div class="d-flex col-2">
								<a href="#" data-tippy="Pro" class="btn-primary" data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="right">
									<i class="fa-solid fa-store"></i>
								</a>
							</div>
						{% endif %}
					</div>
					
				</div>
			</div>

			<!--product details start-->
			<section class="product_details mb-25">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="product_zoom_gallery">
								<div class="zoom_gallery_inner d-flex">
									<div class="zoom_tab_img">
										<a class="zoom_tabimg_list" href="javascript:void(0)"><img src="{{asset(annonce.imageAnnonces[0].imageName)}}" alt="tab-thumb"></a>
										<a class="zoom_tabimg_list" href="javascript:void(0)"><img src="{{asset(annonce.imageAnnonces[0].imageName)}}" alt=" tab-thumb"></a>
										<a class="zoom_tabimg_list" href="javascript:void(0)"><img src="{{asset(annonce.imageAnnonces[0].imageName)}}" alt="tab-thumb"></a>
										<a class="zoom_tabimg_list" href="javascript:void(0)"><img src="{{asset(annonce.imageAnnonces[0].imageName)}}" alt="tab-thumb"></a>
										<a class="zoom_tabimg_list" href="javascript:void(0)"><img src="{{asset(annonce.imageAnnonces[0].imageName)}}" alt="tab-thumb"></a>
										<a class="zoom_tabimg_list" href="javascript:void(0)"><img src="{{asset(annonce.imageAnnonces[0].imageName)}}" alt="tab-thumb"></a>
										<a class="zoom_tabimg_list" href="javascript:void(0)"><img src="{{asset(annonce.imageAnnonces[0].imageName)}}" alt="tab-thumb"></a>
										<a class="zoom_tabimg_list" href="javascript:void(0)"><img src="{{asset(annonce.imageAnnonces[0].imageName)}}" alt="tab-thumb"></a>
									</div>
									<div class="product_zoom_main_img">
										<div class="product_zoom_thumb">
											<img data-image="{{asset(annonce.imageAnnonces[0].imageName)}}" src="{{asset(annonce.imageAnnonces[0].imageName)}}" alt="">
										</div>
										<div class="product_zoom_thumb">
											<img data-image="{{asset(annonce.imageAnnonces[0].imageName)}}" src="{{asset(annonce.imageAnnonces[0].imageName)}}" alt="">
										</div>
										<div class="product_zoom_thumb">
											<img data-image="{{asset(annonce.imageAnnonces[0].imageName)}}" src="{{asset(annonce.imageAnnonces[0].imageName)}}" alt="">
										</div>
										<div class="product_zoom_thumb">
											<img data-image="assets/img/product/big-product/product1.png" src="{{asset(annonce.imageAnnonces[0].imageName)}}" alt="">
										</div>
										<div class="product_zoom_thumb">
											<img data-image="{{asset(annonce.imageAnnonces[0].imageName)}}" src="{{asset(annonce.imageAnnonces[0].imageName)}}" alt="">
										</div>
										<div class="product_zoom_thumb">
											<img data-image="{{asset(annonce.imageAnnonces[0].imageName)}}" src="{{asset(annonce.imageAnnonces[0].imageName)}}" alt="">
										</div>
										<div class="product_zoom_thumb">
											<img data-image="{{asset(annonce.imageAnnonces[0].imageName)}}" src="{{asset(annonce.imageAnnonces[0].imageName)}}" alt="">
										</div>
										<div class="product_zoom_thumb">
											<img data-image="{{asset(annonce.imageAnnonces[0].imageName)}}" src="{{asset(annonce.imageAnnonces[0].imageName)}}" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="product_d_right">
								<form action="#">
									<h1>{{annonce.libelleAnnonce}}</h1>
									<div class="product_ratting_review d-flex align-items-center">

										<div class="product_review">
											{% set avis = annonce.commentaires|length %}
											<ul class="d-flex">
												<li>{{avis}}
													avis</li>
												<li>Donner votre avis</li>
											</ul>
										</div>
									</div>
									<div class="price_box">
										<span class="current_price">{{annonce.prix}}
											CFA</span>
									</div>
									<div class="product_availalbe">
										<ul class="d-flex">
											<li>
												<i class="fa fa-calendar"></i>
												<small>Publiée
													{{annonce.createdAt|ago(locale="fr")}}
												</small>
											</li>
										</ul>
									</div>
									<div class="product_variant">
										<div class="variant_quantity_btn d-flex">
											{% if annonce.isPro %}
												<a href="#" data-tippy="Pro" class="text-white btn" style="background:#ff2f2f;" data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="left">
													<i class="fa-solid fa-store"></i>
												</a>
											{% endif %}
											<a class="wishlist js-like" href="{{path('app_favoris',{'slug':annonce.slug})}}">
												{% if app.user and annonce.isLikedByUser(app.user) %}
													<i class="ion-ios-heart text-danger"></i>
												{% else %}
													<i class="ion-ios-heart"></i>
												{% endif %}
											</a>
										</div>
									</div>
									<div class="variant_quantity_btn d-flex">
										<a class="btn btn-danger mr-4" data-tippy="{{annonce.user.infoPerso.telephone}}" data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="top">
											<i class="fa fa-phone"></i>
											<small>téléphone</small>
										</a>
										<a class="btn btn-success ml-4" data-tippy="{{annonce.user.infoPerso.whatsapp}}" data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="top" href="https://api.whatsapp.com/send?phone={{annonce.user.infoPerso.whatsapp}}&text=Je suis intéressé par votre annonce {{annonce.libelleAnnonce}} du {{annonce.createdAt|date('d-m-y')}} sur le site Araba market">
											<i class="fa fa-whatsapp"></i>
											<small>whatsapp</small>
										</a>
									</div>

									<div class="product_sku">
										{% if annonce.adresseAnnonce %}
											<p>
												<i class="fa-solid fa-location-pin"></i>
												{{annonce.adresseAnnonce.pays}},
												{{annonce.adresseAnnonce.ville}},
												{{annonce.adresseAnnonce.details}}
											</p>
										{% endif %}
									</div>

									<div class="priduct_social d-flex">
										<span>Partager:
										</span>
										<ul>
											<li><a href="#"><i class="ion-social-twitter"></i></a></li>
											<li><a href="#"><i class="ion-social-facebook"></i></a></li>
											<li><a href="#"><i class="ion-social-googleplus-outline"></i></a></li>
											<li><a href="#"><i class="ion-social-pinterest"></i></a></li>
											<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
										</ul>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="text-center mt-5">
					<a href="" class="btn btn-light">
						<i class="fas fa-microphone-lines-slash"></i>
						Signaler l'annonce</a>
				</div>
			</section>
			<!--product details end-->


			<!--product info start-->
			<div class="product_d_info mb-118">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="product_d_inner">
								<div class="product_info_button border-bottom">
									<ul class="nav" role="tablist">
										<li>
											<a class="active" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Description annonce</a>
										</li>
										<li>
											<a data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Commentaires
											</a>
										</li>
										<li>
											<a data-toggle="tab" href="#video" role="tab" aria-controls="video" aria-selected="false">Vidéo
											</a>
										</li>

									</ul>
								</div>
								<div class="tab-content">
									<div class="tab-pane fade show active" id="info" role="tabpanel">
										<div class="product_info_content">
											<p>{{annonce.description}}</p>
										</div>
									</div>
									<div class="tab-pane fade" id="reviews" role="tabpanel">
										<div class="reviews_wrapper">
											<h2>{{avis}}
												avis pour
												{{annonce.libelleAnnonce}}
											</h2>
											{% for comment in annonce.commentaires %}
												<div class="reviews_comment_box">
													<div class="comment_thmb">
														<img src="{{asset('assets/img/blog/comment2.jpg}}')}}" alt="">
													</div>

													<div class="comment_text">
														<div class="reviews_meta">
															<p>
																<strong>{{comment.user.getFullName}}
																</strong>
															</p>
															<div class="star_rating">
																<ul class="d-flex">
																	<span>{{comment.createdAt|ago(locale='fr')}}</span>
																</ul>
															</div>
															<span>{{comment.content}}
															</span>
														</div>
													</div>
												</div>
											{% endfor %}
											<div class="comment_title">
												<h2>Ajouter un commentaire</h2>
												<p>Your email address will not be published.  Required fields are marked
												</p>
											</div>
											<div class="product_review_form">
												<form action="#">
													<div class="row">
														<div class="col-12">
															<label for="review_comment">Your review
															</label>
															<textarea name="comment" id="review_comment"></textarea>
														</div>
														<div class="col-lg-6 col-md-6">
															<label for="author">Name</label>
															<input id="author" type="text">

														</div>
														<div class="col-lg-6 col-md-6">
															<label for="email">Email
															</label>
															<input id="email" type="text">
														</div>
													</div>
													<button type="submit">Submit</button>
												</form>
											</div>
										</div>
									</div>
									<div class="tab-pane fade" id="video" role="tabpanel">
										<div class="product_tab_vidio text-center">
											<iframe width="729" height="410" src="https://www.youtube.com/embed/BUWzX78Ye_8" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--product info end-->
		</div>

		<!--product area start-->
		<section class="product_area related_products mb-118">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section_title mb-50">
							<h2>Annonces similaires</h2>
						</div>
					</div>
				</div>
				<div class="product_container row">
					<div class=" product_slick slick_slider_activation" data-slick='{"slidesToShow": 5, "slidesToScroll": 1, "arrows": true, "dots": false,  "autoplay": false, "speed": 300, "infinite": true, "responsive":[ {"breakpoint":992, "settings": { "slidesToShow": 3 } }, {"breakpoint":768, "settings": { "slidesToShow": 2 } }, {"breakpoint":300, "settings": { "slidesToShow": 1 } }  ]}'>
						{% for annonce in similaires %}
							<article class="col single_product">
								<figure>
									<div class="product_thumb">
										<a href="{{path('app_details',{'slug':annonce.slug})}}">
											<img class="primary_img" src="{{asset(annonce.imageAnnonces[0].imageName)}}" alt="consectetur">
										</a>
										<div class="product_action">
											<ul>
												{% if annonce.isPro %}
													<li class="wishlist">
														<a class='text-danger' data-tippy="Pro" data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="left">
															<i class="fa-solid fa-store"></i>
														</a>
													</li>
												{% endif %}
												<li class="quick_view">
													<a data-tippy="Whatsapp" href="https://api.whatsapp.com/send?phone={{annonce.user.infoPerso.whatsapp}}&text=Je suis intéressé par votre annonce {{annonce.libelleAnnonce}} du {{annonce.createdAt|date('d-m-y')}} sur le site Araba market">
														<i class="fa fa-whatsapp"></i>
													</a>
												</li>
												<li class="compare">
													<a class="js-like" data-tippy="Favoris" href="{{path('app_favoris',{'slug':annonce.slug})}}" data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="left">
														{% if app.user and annonce.isLikedByUser(app.user) %}
															<i class="fa fa-heart"></i>
														{% else %}
															<i class="icon-heart icons"></i>
														{% endif %}
													</a>
												</li>
											</ul>
										</div>
										<div class="product_label">
											{% if annonce.isCime %}
												<span>
													<i class="fa-solid fa-check-double"></i>
												</span>
											{% endif %}
										</div>
									</div>
									<figcaption class="product_content text-center">
										<h4 class="product_name">
											<a href="{{path('app_details',{'slug':annonce.slug})}}">{{annonce.libelleAnnonce}}</a>
										</h4>
										<div class="price_box">
											<span class="current_price">{{annonce.prix}}</span>
											<span class="">CFA</span>
											{% if annonce.adresseAnnonce %}
												<p>
													<i class="fa-solid fa-location-pin"></i>
													{{annonce.adresseAnnonce.pays}},
													{{annonce.adresseAnnonce.ville}},
													{{annonce.adresseAnnonce.details}}
												</p>
											{% endif %}
										</div>
										<div class="add_to_cart">
											<a class="btn btn-danger" href="#" data-tippy="{{annonce.user.infoPerso.telephone}}" data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="top">Contactez</a>
										</div>
									</figcaption>
								</figure>
							</article>
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
		<!--product area end-->
	</div>


	{% block javascripts %}
		{{ encore_entry_script_tags('notyf') }}
		<script src="{{asset('assets/js/vendor/jquery-3.4.1.min.js')}}"></script>
		<script src="{{asset('assets/js/vendor/popper.js')}}"></script>
		<script src="{{asset('assets/js/vendor/bootstrap.min.js')}}"></script>
		<script src="{{asset('assets/js/slick.min.js')}}"></script>
		<script src="{{asset('assets/js/wow.min.js')}}"></script>
		<script src="{{asset('assets/js/jquery.scrollup.min.js')}}"></script>
		<script src="{{asset('assets/js/images-loaded.min.js')}}"></script>
		<script src="{#{asset('assets/js/isotope.pkgd.min.js')}#}"></script>
		<script src="{{asset('assets/js/jquery.nice-select.js')}}"></script>
		<script src="{{asset('assets/js/tippy-bundle.umd.js')}}"></script>
		<script src="{{asset('assets/js/jquery-ui.min.js')}}"></script>
		<script src="{{asset('assets/js/jquery.magnific-popup.min.js')}}"></script>
		<script src="{{asset('assets/js/main.js')}}"></script>
		<script src="{{asset('assets/js/like/axios.js')}}"></script>
		<script src="{{asset('assets/js/like/like.js')}}"></script>
		<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
	{% endblock %}
{% endblock %}
