<!-- product section start -->
<section class="product_section mb-80">
	<div class="container">
		<div class="product_header d-flex justify-content-between  mb-60">
			<div class="section_title">
				<h2>La cime-Top Annonces</h2>
			</div>
			<div class="product_tab_btn d-flex">
				<ul class="nav" role="tablist">
					<li>
						<a class="active" data-toggle="tab" href="#toggleTout" role="tab" aria-controls="toggleTout" aria-selected="true">
							Tout
						</a>
					</li>
					<li>
						<a data-toggle="tab" href="#toggleImmobilier" role="tab" aria-controls="toggleImmobilier" aria-selected="false">
							Immobilier
						</a>
					</li>
					<li>
						<a data-toggle="tab" href="#toggleVehicule" role="tab" aria-controls="toggleVehicule" aria-selected="false">
							Véhicules
						</a>
					</li>
					<li>
						<a data-toggle="tab" href="#toggleVetement" role="tab" aria-controls="toggleVetement" aria-selected="false">
							Mode
						</a>
					</li>
					<li>
						<a data-toggle="tab" href="#toggleSante" role="tab" aria-controls="toggleSante" aria-selected="false">
							Santé, beauté, cosmétiques
						</a>
					</li>
				</ul>
				<div class="all_product">
					<a href="{{path('app_buy')}}">les annonces</a>
				</div>
			</div>
		</div>
		<div class="product_container row">
			<div class="tab-content">
				{{ component('annonces', { 
					toggle: 'Tout',
					annonces: all }) 
				}}
				{#End of #}
				{#Pour toutes les annonces de type immobilier#}
				{{ component('annonces', { 
					toggle: 'Immobilier',
					annonces: immobiliers })
				}}
				{#End of #}
				{#Pour toutes les annonces de type vehicule#}
				{{ component('annonces', { 
					toggle: 'Vehicule',
					annonces: vehicules })
				}}
				{#End of #}

				{#Pour toutes les annonces de type vetements#}
				{{ component('annonces', { 
					toggle: 'Vetement',
					annonces: vetements })
				}}
				{#End of #}

				{#Pour toutes les annonces de type sante#}
			{{component('annonces', { 
					toggle: 'Sante',
					annonces: santes })
			}}
				{#End of #}
			</div>
		</div>
	</div>
</section>
<!-- product section end -->
