{% extends 'base.html.twig' %}

{% block title %}
  Hello ManagerUserController!
{% endblock %}

{% block body %}
  <div class="mb-118 edit">
    <div class="mt-5">
      <div class="col-10 mx-auto m-5">
        <div class="content">
          <div class="row">
            <div class="col-md-4">
              <div class="card card-user shadow-lg p-3 m-1 bg-white rounded">
                <div class="image">
                  <img class="card-img img-fluid" src="{{ asset('images/background.jpg')|imagine_filter('squared_thumbnail_profil') }}" alt="..." />
                </div>
                <div class="card-body">
                  <div class="text-center">
                    <img src="{{ (app.user.imageName ? vich_uploader_asset(app.user) : asset('images/gravatar.png'))|imagine_filter('squared_thumbnail_min') }}" alt="..." class="rounded-circle shadow avatar" style="margin-top:-60px " />

                    <h5 class="title mt-3">{{ app.user.nom }} {{ app.user.prenom }}</h5>

                    <p class="text-info">{{ app.user.email }}</p>
                  </div>
                  <p class="description text-center mt-2"></p>
                </div>
              </div>
              <div class="card card-user shadow-lg p-3 m-1 bg-white rounded">
                <div class="nav flex-column nav-pills nav-fill" role="tablist" aria-orientation="vertical">
                  <a class="nav-link" href="{{ path('app_user') }}" role="tab" aria-selected="true"><i class="fas fa-user-gear"></i> Modifier mon profil</a>
                  <a class="nav-link active" href="{{ path('app_user_info') }}" role="tab" aria-selected="false"><i class="fas fa-address-card"></i> Modifier mes infos de contact</a>
                  <a class="nav-link" href="{{ path('app_user_adresse') }}" role="tab" aria-selected="false"><i class="fas fa-person-circle-exclamation"></i> Modifier mes infos perso</a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card card-user shadow-lg p-3 m-1 bg-white rounded">
                <div class="card-header">
                  <h5 class="card-title">Modifier mes infos de contact</h5>
                </div>
                <div class="card-body">
                  {{ form_start(form) }}

                  <div class="row">
                    <div class="col-md-6 pr-1">
                      <div class="form-group">{{ form_row(form.telephone) }}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">{{ form_row(form.whatsapp) }}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 pr-1">
                      {# <div class="form-group">{{ form_row(form.phone) }}</div> #}
                    </div>
                    <div class="col-md-8 px-1">
                      {# <div class="form-group">{{ form_row(form.aboutMe) }}</div> #}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 pr-1">
                      <div class="form-group">{{ form_widget(form) }}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="update ml-auto mr-auto">
                      <input class="btn btn-info btn-block" type="submit" value="Mettez à jour" formnovalidate />
                    </div>
                  </div>
                  {{ form_end(form) }}
                </div>
              </div>
            </div>
            <h1 class="text-center mt-3"><a href="{{ path('app_vendeur') }}" class="btn btn-light">Retour</a></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ encore_entry_script_tags('notyf') }}
{% endblock %}
