{% extends 'base.html.twig' %}

{% block title %}
  Hello BoutiqueController!
{% endblock %}

{% block body %}
{% block stylesheet %}
  <link rel="stylesheet" href="{{asset('assets/css/form-style.css')}}">
{% endblock %}
  <div style="margin-top: 100px;">
    <div id="inner"></div>
      {{ form_start(form,{'attr':{'class':'form','id':'forms','onSubmit':'event.preventDefault()','action':'#'}}) }}
    <div class="progressbar">
      <div class="progress" id="progress"></div>

      <div class="progress-step progress-step-active" data-title="Boutique"></div>
      <div class="progress-step" data-title="Adresse Social"></div>
    </div>
    <div class="step-forms step-forms-active">
      <div class="group-inputs">
        {{form_label(form.nomSalle)}}
        {{form_widget(form.nomSalle)}}
        <p class="text-danger" id="errorSalle" >*</p>
      </div>
      <div class="group-inputs">
        {{form_label(form.domaine)}}
        {{form_widget(form.domaine)}}
      </div>
      <div class="group-inputs">
       {{form_label(form.imageFile)}}
        {{form_widget(form.imageFile)}}
        <p class="text-danger" id="errorFile" >*</p>
      </div>
      <div class="group-inputs">
        {{form_label(form.description)}}
        {{form_widget(form.description)}}
      </div>
      <div class="">
        <a href="#" class="btn btn-next btn-danger width-50 ml-auto">Next</a>
      </div>
    </div>
    <div class="step-forms">
      <div class="group-inputs">
        {{form_label(form.pays)}}
        {{form_widget(form.pays)}}
        <p id="errorPays" class="text-danger">*</p>
      </div>
      <div class="group-inputs">
        {{form_label(form.ville)}}
        {{form_widget(form.ville)}}
        <p id="errorVille" class="text-danger">*</p>
      </div>
      <div class="group-inputs">
        {{form_label(form.details)}}
        {{form_widget(form.details)}}
      </div>
       <div class="btns-group">
        <a href="#" class="btn btn-prev btn-danger">Previous</a>
        
        <input type="submit" value="Submit" id="submit-form" class="btn btn-danger" />
      </div>
    </div>

  {{form_end(form)}}
  </div>

  {% block javascript %} 
    <script src="{{asset('assets/js/form-js.js')}}"></script>
  {% endblock %} 

{% endblock %}
