<div {{ attributes }}>
  <section class="product_details mb-135">
    <div class="container">
      <div class="row">
        <!-- Les inputs -->
        <div class="col-lg-6 col-md-6">
          <div class="product_zoom_gallery">
            <div class="zoom_gallery_inner d-flex">
              <div class="product_zoom_main_img">
                <div class="product_zoom_thumb">
                  <img id="output" class="img-circle img-thumbnail" src="{{ (boutique.imageName ? vich_uploader_asset(boutique) : asset('images/placeholder.jpg'))|imagine_filter('squared_thumbnail_big') }}" alt="" />
                  <a class="btn btn-light" href="{{ path('app_edit_image', { boutique: boutique.id }) }}">Editer l'image</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="product_d_right">
            <div class="price_box">
              <span class="current_price">{{ boutique.nomSalle }}</span>
            </div>
            <div class="product_ratting_review d-flex align-items-center">
              <div class="product_review">
                <ul class="d-flex">
                  <li>4 reviews</li>
                  <li>Write your review</li>
                </ul>
              </div>
            </div>
            <h1>Spéciliasée en {{ boutique.domaine.libelle }}</h1>
            <div class="product_availalbe">
              <ul class="d-flex">
                <li>
                  <i class="fas fa-calendar-check"></i> crée {{ boutique.createdAt|ago(locale = 'fr') }}
                </li>
                <li>
                  Availalbe: <span class="stock">In Stock</span>
                </li>
              </ul>
            </div>
            <div class="product_desc">
              <p>{{ boutique.description }}</p>
            </div>
            <div class="product_sku">
              <p>
                <span>Slug:</span> #{{ boutique.slug }}
              </p>
            </div>
          </div>

          <hr />

          <div class="mb-3">
            <h4>Editer</h4>
            <label for="boutique_nomSalle" class="form-label"><span class="current_price">{{ boutique.nomSalle }}</span></label>
            <div class="input-group">
              <input type="text" data-model="boutique.nomSalle" data-action="blur->live#update" class="form-control" value="{{ boutique.nomSalle }}" id="boutique_nomSalle" />
            </div>
          </div>

          <div class="mb-3">
            <label for="boutique_description" class="form-label"><h4>Description</h4></label>
            <div class="input-group">
              <textarea data-model="boutique.description" data-action="live#update" class="form-control" id="boutique_description">{{ boutique.description }}</textarea>
            </div>
          </div>
        </div>

        <!-- Le boutton -->
        <div class="d-grid gap-2">
          <button data-action="live#action" data-action-name="save" class="btn btn-primary btn-sm">Enregistrer les modifications</button>
        </div>

        {% if isSaved %}
          <div class="alert alert-success my-4 text-center">Enregistrer !</div>
        {% endif %}
      </div>
    </div>
  </section>
</div>
